*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: rgb(80, 79, 79); */

}
body{
    background-color: rgb(26, 24, 24);
}
.container{
    width: 100%;
    height: 50%;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 5%;
    
    font-family: 'Franklin Gothic Medium';
    font-style: italic;
    font-size: 20px;
    background-image: url("https://as1.ftcdn.net/v2/jpg/03/17/39/64/1000_F_317396428_svnrG2mL6pnDjPhZQosn4bOoRBe8jrER.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.inp{
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 60%;
    margin-top: 10%;
}
#inp{
    width: 100%;
    height: 120%;
    padding: 10px;
    cursor: pointer;
    /* border-radius: 20px 20px 20px 20px; */
    box-shadow: 3px 0px 5px 0px;
    background-color:rgb(37, 36, 36);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
#btn {
    width: 10%;
    height: 10%;
    /* padding: 5px; */
margin-left: 5%;
    font-size: 10px;
    background-color: transparent;
    border: none !important;
    outline: none;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}
#btns{
    width: 20%;
    font-size: 20px;
    background-color: transparent;
    border: none !important;
    outline: none;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}
 #btns:hover{
    background-color: rgb(26, 24, 24);
    border-radius: 10px;

}
.lia{
    width: 75%;
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-family: 'Franklin Gothic Medium';
    border: 10px solid rgb(37, 36, 36);
    background-color: rgb(37, 36, 36);
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 10%;
}
ul{
    list-style-type: none;

}
i{
    font-size: 25px;
        /* background-color:rgb(37, 36, 36); */
        border: none ;
        outline: none;
        cursor: pointer;
        color: #fff;
        transition: 0.5s;
        border-radius: 7px;
        /* padding: 3px; */
        /* margin: 3px;     */
        
}

